<div class = "col-md-6 offset-md-3">
    <h3 class ="text-center">Bitácora de consultas</h3>
</div>

<h2>Lista de Personajes</h2>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Fecha y Hora de consulta</th>
            <th>Servicio consultado</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let bitacora of bitacoras">
            <td>{{bitacora.id}}</td>
            <td>{{bitacora.dateOfConsult}}</td>
            <td>{{bitacora.serviceConsulted}}</td>
        </tr>
    </tbody>

</table>