<h2>Lista de Personajes</h2>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let character of characters">
            <td>{{character.id}}</td>
            <td>{{character.name}}</td>
            <td>{{character.description}}</td>
            <td><button (click)="getCharacterDetails(character.id)" class="btn btn-primary" style="margin-left : 10px">Detalles</button></td>
        </tr>
    </tbody>

</table>

<div class="modal" tabindex="-1" id="modalito">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="characterInfo">
          <p><b>Id: </b>{{characterInfo.id}}</p>
          <p><b>Nombre del personaje: </b>{{characterInfo.name}}</p>
          <p><b>Descripción: </b>{{characterInfo.description}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="hideModalito()" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>